<!doctype html>
<html lang="en">
        <% include partials/header.ejs %>
<body>
        <div id="root"> 
            <div class="app">
                <% include partials/menu.ejs %>

                <main class="content container-fluid">
                    <div class="p-3 mt-3">
                        <div class="display-4">Bem Vindo!</div>
                        <hr>
                        <p class="mb-0">Sistema para exemplificar a construção de um banco de dados para uma loja agropecuária.</p>
                    </div>
                </main>
                
                <% include partials/footer.ejs %>
            </div>
        </div>
</body>
</html>